#banner.page-header
  .logo
    %i.icon-happy-heart
  %h1
    BloodBagdge
  %p.lead Show off your awesome blood donations!

%div
  - if user_signed_in?
    = link_to "My profile", profile_path(current_user)

