@font-face {
	font-family: 'bloodbadge';
	src:url('fonts/bloodbadge.eot?idg62w');
	src:url('fonts/bloodbadge.eot?#iefixidg62w') format('embedded-opentype'),
		url('fonts/bloodbadge.woff?idg62w') format('woff'),
		url('fonts/bloodbadge.ttf?idg62w') format('truetype'),
		url('fonts/bloodbadge.svg?idg62w#bloodbadge') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bb-"], [class*=" bb-"] {
	font-family: 'bloodbadge';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bb-drop-circle:before {
	content: "\e600";
}
.bb-happy-heart:before {
	content: "\e601";
}
.bb-drop:before {
	content: "\e602";
}
