%h1 My Profile

%h2 Your Badge
%p
  Paste this into another web page to include your blood donor badge.
  %pre
    :escaped
      <iframe frameborder='0' height='140' src='#{badge_url(current_user)}' width='550'></iframe>

%iframe{ :src => badge_url(current_user), :width => 550, :height => 140, :frameborder => 0 }
